@font-face {
    font-family: "OpenSansRegular";
    src: url('../../fonts/OpenSans-Regular.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url('../../fonts/OpenSans-Light.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansItalic";
    src: url('../../fonts/OpenSans-Italic.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansSemibold";
    src: url('../../fonts/OpenSans-Semibold.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansSemiboldItalic";
    src: url('../../fonts/OpenSans-SemiboldItalic.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url('../../fonts/OpenSans-Bold.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OpenSansBoldItalic";
    src: url('../../fonts/OpenSans-BoldItalic.ttf') format("truetype");
    font-style: normal;
}