@import 'vars';
@import 'fonts';
@import 'typography';
@import 'mixins';
@import 'modules/**/*.scss';

body {
  font-family: 'OpenSansRegular', Helvetica, sans-serif;
  color: $font-color--light;
  background-color: $background--dark;
  padding: $half-space;
}