<div class="bg-main">
	<div class="bg-main-img"></div>
</div>
<div>
	<i class="fa fa-spotify fa-3x" aria-hidden="true"></i>
	<span class="logo-text">Spotify</span>
	<form ng-submit="home.search()">
		<input type="text" class="search-input" ng-model="home.searchInput">
	</form>
	<div class="audio-player">
		<i ng-show="home.isPaused()" ng-click="home.play()" class="fa fa-play-circle fa-3x" aria-hidden="true"></i>
		<i ng-show="!home.isPaused()" ng-click="home.pause()" class="fa fa-pause-circle fa-3x" aria-hidden="true"></i>
	</div>
</div>
<example-component hero="home.hero"></example-component>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>