<div class="bg-main">
	<div class="bg-main-img"></div>
</div>
<!-- <example-component hero="home.hero"></example-component>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div> -->
<ng-map ng-if="home.currentPos" zoom="16" center="{{home.currentPos}}">
	<marker position="{{home.currentPos}}"
	  icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
	</marker>
</ng-map>
<div>Velocity:  {{home.velocity}} Km/h.</div>
<button type="button" ng-click="home.stopSrv()">Stop Service</button>