.bg-main {
	width: 100%;
    height: 100%;
    background: url(../../images/noise.png),linear-gradient(50deg,#ff4169 0,#7c26f8 100%);
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;

    .bg-main-img {
	    background: url(../../images/bg-albums.png);
	   	width: 100%;
	    height: 100%;
	    background-position: center;
    }
}

.logo-text {
	font-size: 24px;
}

.audio-player {
    font-size: 15px;
    color: #888;
}